[submodule "themes/gruvbox-plus-kde"]
	path = themes/gruvbox-plus-kde
	url = https://github.com/SylEleuth/gruvbox-plus-kde.git
[submodule "themes/gruvbox-plus-icon-pack"]
	path = themes/gruvbox-plus-icon-pack
	url = https://github.com/SylEleuth/gruvbox-plus-icon-pack.git
